* {
    margin:0px;
    padding:0px;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.GC {
    display:flex;
    justify-content:center;
    width: 500px;
    height: 500px;
}

.Sq {
    flex-wrap: wrap;
    width:100%;
}

.AAH {
    width: 100%;
    height:50%;
    background-color: #0E0D44;
}

.jamm {
    display:flex;
    flex-direction:row;
    height:25%;
}

.car2 {
    background-color: #7A79AF;
    height: 100%;
    width: 50%;
}

.car3 {
    background-color: #49487B;
    height: 100%;
    width: 50%;
}

.jam {
    display:flex;
    flex-direction:row;
    height:25%;
}

.car4 {
    background-color: #3D3BBA;
    height: 100%;
    width: 50%;
}

.car5 {
    background-color: #444457;
    height: 100%;
    width: 50%;
}

.Sqq{
    flex-wrap: wrap;
    width: 100%;
}

.tr {
    display:flex;
    flex-direction:row;
    height:33%;
}

.car6 {
    background-color: #010108;
    height: 100%;
    width: 50%;
}

.trr {
    height:34%;
}

.car7 {
    background-color: #7C2060;
    height: 100%;
    width: 50%;
}

.trrr {
    height:33%;
}

.car8 {
    background-color: #207C52;
    height: 100%;
}

.car9 {
    background-color: #3C554A;
    height: 100%;
}

 * {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#square {
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.big-rect {
    width: 50%;
    height: 100%;
}

.big-square {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
}

.little-square {
    height: 50%;
    width: 50%;
}

.mid-rect {
    width: 100%;
    height: 33.33%;
}

.little-rect {
    width: 50%;
    height: 100%;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.grey {
    background-color: grey;
}

.salmon {
    background-color: salmon;
}
