/*******************
div {}
.class {}
#id {}
************************/


body {
    height: 100vh;
}

header {
    background-color: #B53F4D;
    height: 8%;
    display: flex;
}

nav {
    width: 100%;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    border: 1px solid #E8929D;
    padding: 14px 24px;
    background-color: #E8929D;
    border-radius: 4px;
    margin-top:-30px;
    box-shadow: 0 8px 9px -9px #F0D3D7;
}

nav a:hover {
    color: black;
    background-color: #E6B9BE;
}

nav li {
    display: flex;
    align-items: center;
}